# LaTeX 辅助文件
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdfsync
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.bcf
*.run.xml
*.figlist
*.makefile
*.figlist
*.figlist.bak
*.figlist.lst
*.figlist.makefile
*.figlist.makefile.bak
*.figlist.makefile.lst
*.figlist.makefile.log
*.figlist.makefile.out
*.figlist.makefile.toc
*.figlist.makefile.aux